.homepage
{
position:absolute;
background-color:#000000;
height:1600px;
width:1080px;
padding:0px;
}
.rectangle6
{
height:83px;
width:299px;
left:1413px;
top:589px;
position:absolute;
}
.dêvidaaoseurpg
{
color:#ffd046;
transform:rotate(-1deg);
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:439px;
top:92.49px;
position:absolute;
width:202.49734497070312px;
}
.taverna
{
width:77px;
height:30px;
top:151px;
left:223px;
position:absolute;
}
.rectangle7
{
background-color:#1d1e2c;
height:30px;
width:77px;
top:151px;
left:223px;
position:absolute;
}
.taverna2
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:225px;
top:157px;
width:73px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.personagens
{
width:122px;
height:30px;
top:151px;
left:310px;
position:absolute;
}
.rectangle8
{
background-color:#1d1e2c;
height:30px;
width:122px;
top:151px;
left:310px;
position:absolute;
}
.personagens2
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:311px;
top:157px;
width:119px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.monstros
{
width:92px;
height:30px;
top:151px;
left:442px;
position:absolute;
}
.rectangle9
{
background-color:#1d1e2c;
height:30px;
width:92px;
top:151px;
left:442px;
position:absolute;
}
.monstros2
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:442px;
top:157px;
width:92px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.cenários
{
width:83px;
height:30px;
top:151px;
left:544px;
position:absolute;
}
.rectangle11
{
background-color:#1d1e2c;
height:30px;
width:83px;
top:151px;
left:544px;
position:absolute;
}
.cenários2
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:545px;
top:157px;
width:81px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.loot
{
width:43px;
height:30px;
top:151px;
left:637px;
position:absolute;
}
.rectangle10
{
background-color:#1d1e2c;
height:30px;
width:43px;
top:151px;
left:637px;
position:absolute;
}
.loot2
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:637px;
top:157px;
width:43px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.dados
{
width:56px;
height:30px;
top:151px;
left:690px;
position:absolute;
}
.rectangle13
{
background-color:#1d1e2c;
height:30px;
width:56px;
top:151px;
left:690px;
position:absolute;
}
.dados2
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:690px;
top:157px;
width:56px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.acessórios
{
width:101px;
height:30px;
top:151px;
left:756px;
position:absolute;
}
.rectangle12
{
background-color:#1d1e2c;
height:30px;
width:101px;
top:151px;
left:756px;
position:absolute;
}
.acessórios2
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:756px;
top:157px;
width:101px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.login
{
width:49px;
height:30px;
top:9px;
left:993px;
position:absolute;
}
.rectangle15
{
background-color:#1d1e2c;
height:30px;
width:49px;
top:9px;
left:993px;
position:absolute;
}
.login2
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:993px;
top:15px;
width:49px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.carrinho
{
width:143px;
height:30px;
top:9px;
left:847px;
position:absolute;
}
.rectangle14
{
background-color:#1d1e2c;
height:30px;
width:143px;
top:9px;
left:847px;
position:absolute;
}
.baúdecompras
{
color:#d9f7fa;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:847px;
top:15px;
width:143px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.destaques
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Algerian;
left:28px;
top:200px;
width:192px;
height:48px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ofertas
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Algerian;
left:29px;
top:532px;
width:192px;
height:48px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.maisvendidos
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Algerian;
left:29px;
top:864px;
width:240px;
height:48px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.carrossel
{
background-color:#ffffff;
height:260px;
width:815px;
padding:0px;
border-style:hidden;
outline:none;
top:256px;
left:132px;
position:absolute;
}
.card
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:59px;
position:absolute;
}
.rectangle17
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle3
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle2
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card2
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:238px;
position:absolute;
}
.rectangle18
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button2
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle32
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú2
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info2
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle22
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card3
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:417px;
position:absolute;
}
.rectangle19
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button3
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle33
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú3
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço3
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info3
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle23
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina3
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome3
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card4
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:596px;
position:absolute;
}
.rectangle110
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button4
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle34
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú4
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço4
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info4
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle24
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina4
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome4
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.prev
{
height:72px;
width:40px;
padding:0px;
border-style:hidden;
outline:none;
top:94px;
left:0px;
position:absolute;
}
.rectangle4
{
background-color:#fffbff;
height:72px;
width:40px;
}
.polygon1
{
background-color:#1d1e2c;
height:40px;
width:72px;
top:72px;
position:absolute;
}
.next
{
height:72px;
width:40px;
transform:rotate(-180deg);
padding:0px;
border-style:hidden;
outline:none;
top:94px;
left:815px;
position:absolute;
}
.rectangle42
{
background-color:#fffbff;
height:72px;
width:40px;
}
.polygon12
{
background-color:#1d1e2c;
height:40px;
width:72px;
top:72px;
position:absolute;
}
.carrossel2
{
background-color:#ffffff;
height:260px;
width:815px;
padding:0px;
border-style:hidden;
outline:none;
top:588px;
left:133px;
position:absolute;
}
.card5
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:59px;
position:absolute;
}
.rectangle111
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button5
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle35
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú5
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço5
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info5
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle25
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina5
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome5
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card6
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:238px;
position:absolute;
}
.rectangle112
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button6
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle36
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú6
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço6
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info6
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle26
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina6
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome6
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card7
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:417px;
position:absolute;
}
.rectangle113
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button7
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle37
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú7
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço7
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info7
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle27
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina7
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome7
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card8
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:596px;
position:absolute;
}
.rectangle114
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button8
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle38
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú8
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço8
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info8
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle28
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina8
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome8
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.prev2
{
height:72px;
width:40px;
padding:0px;
border-style:hidden;
outline:none;
top:94px;
left:0px;
position:absolute;
}
.rectangle43
{
background-color:#fffbff;
height:72px;
width:40px;
}
.polygon13
{
background-color:#1d1e2c;
height:40px;
width:72px;
top:72px;
position:absolute;
}
.next2
{
height:72px;
width:40px;
transform:rotate(-180deg);
padding:0px;
border-style:hidden;
outline:none;
top:94px;
left:815px;
position:absolute;
}
.rectangle44
{
background-color:#fffbff;
height:72px;
width:40px;
}
.polygon14
{
background-color:#1d1e2c;
height:40px;
width:72px;
top:72px;
position:absolute;
}
.carrossel3
{
background-color:#ffffff;
height:260px;
width:815px;
padding:0px;
border-style:hidden;
outline:none;
top:920px;
left:133px;
position:absolute;
}
.card9
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:59px;
position:absolute;
}
.rectangle115
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button9
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle39
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú9
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço9
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info9
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle29
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina9
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome9
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card10
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:238px;
position:absolute;
}
.rectangle116
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button10
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle310
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú10
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço10
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info10
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle210
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina10
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome10
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card11
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:417px;
position:absolute;
}
.rectangle117
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button11
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle311
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú11
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço11
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info11
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle211
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina11
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome11
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.card12
{
background-color:#000000;
height:260px;
width:160px;
filter:drop-shadow(3px 3px 5px rgba(1,1,1,0.25));
padding:0px;
top:0px;
left:596px;
position:absolute;
}
.rectangle118
{
height:150px;
width:150px;
left:5px;
top:5px;
position:absolute;
}
.button12
{
width:120px;
height:20px;
top:228px;
left:20px;
position:absolute;
}
.rectangle312
{
background-color:#d9f7fa;
height:20px;
width:120px;
top:228px;
left:20px;
position:absolute;
}
.adicionaraobaú12
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Alice;
left:20px;
top:228px;
width:120px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.preço12
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:204px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.info12
{
width:140px;
height:16px;
top:184px;
left:10px;
position:absolute;
}
.rectangle212
{
background-color:#1d1e2c;
height:16px;
width:140px;
top:184px;
left:10px;
position:absolute;
}
.cmemresina12
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Alice;
left:10px;
top:184px;
width:140px;
height:16px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.nome12
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Alice;
left:5px;
top:156px;
width:150px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.prev3
{
height:72px;
width:40px;
padding:0px;
border-style:hidden;
outline:none;
top:94px;
left:0px;
position:absolute;
}
.rectangle45
{
background-color:#fffbff;
height:72px;
width:40px;
}
.polygon15
{
background-color:#1d1e2c;
height:40px;
width:72px;
top:72px;
position:absolute;
}
.next3
{
height:72px;
width:40px;
transform:rotate(-180deg);
padding:0px;
border-style:hidden;
outline:none;
top:94px;
left:815px;
position:absolute;
}
.rectangle46
{
background-color:#fffbff;
height:72px;
width:40px;
}
.polygon16
{
background-color:#1d1e2c;
height:40px;
width:72px;
top:72px;
position:absolute;
}
.copyright©2023-bykauêhamasakitwitter©|instagram©
{
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Arial;
left:320px;
top:1244px;
width:440px;
height:48px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
