@charset "UTF-8";


.row {
	float:left;
	width: 250px;
	height: 375px;
	margin: 10px;
	border: 5px solid white;
	background-color: rgb(50,50,50);
	box-shadow: 2px 2px 8px;
	justify-content: center;
	align-items: center;
}

h2#row {
	padding:0px;
	font-size:14px;
	margin:0px;
}

h3#row {
	padding:2px;
	margin:0px;
	margin-left:5px;
}

p#row{
	font-size:16pt;
	padding:0px;
	margin:0px;
}

